body {
    background-color: black;
    padding-top: 150px;
    font-family: 'Courier New', monospace;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    color: white;


}

p {
    font-size: 50px;
}
