body {
    background-color: black;
    padding-top: 150px;
    font-family: 'Courier New', monospace;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    color: white;
}

/* スタート画面 */
h1 {
    font-size: 50px;
}

img {
    width: 100px;
    height: 100px;
}

.status {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.status p {
    font-size: 30px;
    text-align: right;
}

/* スタートorリセット*/
.choice {
    font-size: 30px;
}
